.title{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: 50px;
    font-size: larger;
    font-weight: bolder;
}

.img-container{
    display: flex;
    justify-content: center;
}

img{
    border-radius: 100px;
    margin-top: 30px;
}

.underline{
    border: 1px solid blue;
    width: 100px;
    display: flex;
    justify-content: center;
    margin-left: 700px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.review{
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    height: 400px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: 200px;
}

#author{
    margin-left: 210px;
    
}

#job{
    margin-left: 205px;
    color: rgb(85, 202, 202);
}

.button-container{
    margin-top: -50px;
    margin-left: 220px;

}

.random-btn{
    margin-left: 205px;
    margin-top: 20px;
    color: rgb(85, 202, 202);
    border: 1px solid rgb(85, 202, 202);
    font-size: 15px;
    border-radius: 10px;
}

#info{
    padding: 60px;
    margin-top: -60px;
}

.prev-btn{
    color: rgb(85, 202, 202);
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
.next-btn{
    color: rgb(85, 202, 202);
    font-size: 20px;
    border: none;
    border-radius: 10px;
}